# Klipper Configuration - Ender 5 Pro
# Board: SKR Mini E3 V3.0 (STM32G0B1)
# ============================================================
# OpenPivot Printer Platform P-003
# Baseline Version : v1.3
# Frozen           : 2026-09-26
# Git Tag          : printer-p003-baseline-v1.3
#
# Validated:
# - Direct Drive (17HS3401S + Dual Gear)
# - Dual 5015 Cooling
# - BLTouch relocated
# - Input Shaper calibrated
# - Pressure Advance calibrated

# Hotend heatsink fan and controller fan are permanently powered from the PSU.
# PC7 is intentionally unused.
# ============================================================

[include mainsail.cfg] # Change to [include fluidd.cfg] if using Fluidd interface
[include timelapse.cfg]


[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_5D002E001650505539323620-if00
restart_method: command

[idle_timeout]
timeout: 1800
# gcode:
#   TURN_OFF_HEATERS
#   M84

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 220
position_max: 220
homing_positive_dir: true    
homing_speed: 50
second_homing_speed: 25
homing_retract_dist: 5

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.80
stealthchop_threshold: 0

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 220
position_max: 220
homing_positive_dir: true   
homing_speed: 50
second_homing_speed: 25
homing_retract_dist: 5

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.80
stealthchop_threshold: 0

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_min: -5
position_max: 300
homing_speed: 5

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.65
stealthchop_threshold: 999999

[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 23.333
nozzle_diameter: 0.400
filament_diameter: 1.750

heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0      # TH0 (hotend thermistor)


min_temp: 0
max_temp: 260
min_extrude_temp: 170

pressure_advance: 0.036
pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.80

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4      # THB (bed thermistor)

min_temp: 0
max_temp: 130

[fan]
pin: PC6

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 25,25
mesh_max: 170,165
probe_count: 9,9
algorithm: bicubic
bicubic_tension: 0.2
fade_start: 1
fade_end: 10

[screws_tilt_adjust]
screw1: 24.5,80
screw2: 194.5,80
screw3: 194.5,220
screw4: 24.5,220
speed: 150
horizontal_move_z: 10
screw_thread: CW-M4

[display]
lcd_type: st7920
cs_pin: PB8
sclk_pin: PB9
sid_pin: PD6
encoder_pins: ^PA10, ^PA9
click_pin: ^!PA15

[output_pin beeper]
pin: PB5
value: 0
shutdown_value: 0

[force_move]
enable_force_move: True

[bltouch]
sensor_pin: ^PC14
control_pin: PA1
x_offset: -2.5
y_offset: -52

pin_up_touch_mode_reports_triggered: False
pin_up_reports_not_triggered: True
probe_with_touch_mode: True


[safe_z_home]
home_xy_position: 112.5,162
speed: 50
z_hop: 10
z_hop_speed: 5

#####################################################################
# OrcaSlicer compatibility
#####################################################################

# Allow OrcaSlicer to cancel individual objects during a print.
[exclude_object]

# Enable G2/G3 arc commands generated by OrcaSlicer.
[gcode_arcs]
resolution: 0.1



# Saved bed meshes:
# PLA_65C  - PLA-F production profile.
# PETG_75C - PETG production profile.

#[mcu btt_lis2dw]
#serial: /dev/serial/by-id/usb-Klipper_rp2040_5044340410E2841C-if00

#[lis2dw]
#cs_pin: btt_lis2dw:gpio9
#spi_software_sclk_pin: btt_lis2dw:gpio10
#spi_software_mosi_pin: btt_lis2dw:gpio11
#spi_software_miso_pin: btt_lis2dw:gpio8
#axes_map: x, y, z

#[resonance_tester]
#accel_chip: lis2dw
#probe_points:
#    110, 110, 20

[include moonraker_obico_macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 30.271
#*# pid_ki = 2.267
#*# pid_kd = 101.028
#*#
#*# [stepper_z]
#*# position_endstop = 0.189
#*#
#*# [bltouch]
#*# z_offset = 2.825
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 66.384
#*# pid_ki = 1.309
#*# pid_kd = 841.414
#*#
#*# [bed_mesh PLA_65C]
#*# version = 1
#*# points =
#*# 	-0.001250, -0.030000, -0.046250, 0.015000, 0.003750, -0.057500, -0.072500, -0.028750, -0.007500
#*# 	0.000000, -0.072500, -0.031250, -0.006250, -0.016250, -0.045000, -0.070000, -0.055000, -0.048750
#*# 	0.005000, -0.032500, -0.005000, 0.023750, 0.002500, -0.047500, -0.066250, 0.000000, -0.016250
#*# 	-0.002500, -0.056250, -0.032500, -0.020000, -0.006250, -0.045000, -0.072500, -0.017500, -0.027500
#*# 	-0.035000, -0.070000, -0.078750, -0.053750, -0.052500, -0.082500, -0.073750, -0.060000, -0.070000
#*# 	-0.067500, -0.096250, -0.107500, -0.061250, -0.037500, -0.097500, -0.101250, -0.073750, -0.078750
#*# 	-0.065000, -0.136250, -0.086250, -0.046250, -0.038750, -0.103750, -0.105000, -0.071250, -0.046250
#*# 	-0.093750, -0.096250, -0.076250, -0.063750, -0.046250, -0.076250, -0.113750, -0.053750, -0.050000
#*# 	-0.093750, -0.137500, -0.115000, -0.055000, -0.057500, -0.087500, -0.123750, -0.030000, -0.026250
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 25.0
#*# max_x = 169.96
#*# min_y = 25.0
#*# max_y = 165.0
#*#
#*# [bed_mesh PETG_75C]
#*# version = 1
#*# points =
#*# 	  -0.022500, 0.052500, 0.011250, 0.026250, -0.017500, 0.012500, -0.021250, -0.016250, -0.036250
#*# 	  -0.008750, 0.038750, 0.031250, 0.022500, -0.012500, 0.041250, 0.021250, 0.003750, -0.022500
#*# 	  0.000000, 0.063750, 0.037500, 0.027500, 0.005000, 0.047500, 0.013750, 0.006250, 0.002500
#*# 	  0.032500, 0.086250, 0.047500, 0.038750, 0.030000, 0.025000, 0.040000, 0.031250, -0.027500
#*# 	  -0.015000, 0.071250, 0.035000, 0.076250, 0.005000, 0.038750, -0.006250, 0.021250, -0.008750
#*# 	  -0.015000, 0.062500, -0.003750, 0.001250, 0.020000, 0.010000, 0.012500, -0.007500, -0.028750
#*# 	  -0.001250, 0.047500, 0.022500, 0.026250, 0.012500, 0.040000, 0.015000, -0.005000, 0.003750
#*# 	  0.021250, 0.090000, 0.036250, 0.045000, 0.016250, 0.060000, 0.013750, 0.015000, 0.017500
#*# 	  0.002500, 0.043750, 0.038750, 0.057500, 0.012500, 0.060000, 0.048750, 0.056250, 0.026250
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 25.0
#*# max_x = 169.96
#*# min_y = 25.0
#*# max_y = 165.0
#*#
#*# [input_shaper]
#*# shaper_type_x = 2hump_ei
#*# shaper_freq_x = 87.2
#*# shaper_type_y = mzv
#*# shaper_freq_y = 63.2
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.161250, 0.040000, 0.026250, -0.003750, -0.076250
#*# 	-0.075000, 0.033750, 0.007500, -0.046250, -0.058750
#*# 	-0.052500, 0.032500, -0.008750, -0.052500, -0.075000
#*# 	-0.028750, 0.003750, 0.020000, -0.053750, -0.095000
#*# 	-0.073750, -0.027500, -0.038750, -0.077500, -0.107500
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 90.0
#*# min_y = 20.0
#*# max_y = 90.0
